@import "tailwindcss";

@theme {
  --font-family-poppins: "Poppins", sans-serif;
  --font-family-questrial: "Questrial", sans-serif;
  
  --color-brand-50: #ecfdf5;
  --color-brand-100: #d1fae5;
  --color-brand-200: #a7f3d0;
  --color-brand-300: #6ee7b7;
  --color-brand-400: #34d399;
  --color-brand-500: #10b981;
  --color-brand-600: #059669;
  --color-brand-700: #047857;
  --color-brand-800: #065f46;
  --color-brand-900: #064e3b;
  
  --shadow-glass: 0 18px 60px rgba(0, 0, 0, 0.35);
  --shadow-soft: 0 20px 70px rgba(0, 0, 0, 0.40);
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-questrial {
  font-family: "Questrial", sans-serif;
}
